# AXA coding challenge
Data:
1. Citibike: https://s3.amazonaws.com/tripdata/index.html
2. NYPD:  https://data.cityofnewyork.us/Public-Safety/Motor-Vehicle-Collisions-Crashes/h9gi-nx95/about_data

In [10]:
# Install packages (only once)
#!pip install selenium webdriver-manager

# Import modules
import os # basic
import datetime
import zipfile

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk
import dask.dataframe as dd

from selenium import webdriver # for downloading files automatically
from selenium.webdriver.chrome.service import Service

current_dir = os.getcwd() # current dir
print('Current directory: ' + current_dir)
extract_dir = current_dir + '/data/bike-tripdata'  # directory where extracted files from 1. will be saved
cleaned_dir = extract_dir + '_cleaned' # directory where cleaned and concatenated df will be saved

#pd.options.display.float_format = '{:.4f}'.format # set pd output to 2 decimals
pd.reset_option('display.float_format')

Current directory: C:\Users\Hanna\sciebo\AXA_coding-challenge

In [2]:
# Functions

# to download files from an url
def download_files(url, save_path):
    response = requests.get(url, stream=True)
    with open(save_path, 'wb') as file:
        for chunk in response.iter_content(chunk_size=1024):
            if chunk:
                file.write(chunk)
    print(f"Downloaded {save_path}")
    
# to clean column names
def clean_column_names(df, column_mapping=None):
    # strip whitespace, convert to lowercase, and replace spaces with underscores
    df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('-', '_')
    
    # apply manual column mapping if specified
    if column_mapping:
        df.rename(columns=column_mapping, inplace=True)
    
    return df

# check unique column names across all .csv files in list_files 
def list_unique_col_names(list_files):
    unique_column_names = []
    for csv_file in list_files:
        file_path = os.path.join(extract_dir, csv_file)
        df = pd.read_csv(file_path, nrows=1)
        #print(df.columns) # visual check
        [unique_column_names.append(col) for col in df.columns if col not in unique_column_names]
    unique_column_names.sort()
    
    return unique_column_names

## Download Citibike data automatically from url

In [7]:
url = "https://s3.amazonaws.com/tripdata/index.html" # url to data files
driver_path = 'C:/Drivers/chromedriver-win64_128/chromedriver.exe' # Chrome driver for web interaction, needed by selenium - must match Chrome version

# Download files
service = Service(driver_path) # initialize the Chrome driver
driver = webdriver.Chrome(service=service)
driver.get(url) # navigate to website
time.sleep(5)  # give the page time to load the dynamic content
html = driver.page_source # get the page source after JavaScript has executed
soup = BeautifulSoup(html, 'html.parser') # parse the HTML

# find all .zip links
file_links = []
for link in soup.find_all('a', href=True):
    if link['href'].endswith('.zip'): # on this website, files are .zip format
        file_links.append(link['href'])
print(file_links[:2]) # check if the file paths are retrieved correctly by printing a few

driver.quit() # close the browser

if not os.path.exists(current_dir+'/downloads'): # directory to save the downloaded files
    os.makedirs(current_dir+'/downloads')

for file_link in file_links: # loop through all the zip links and download them
    filename = os.path.join(current_dir+'/downloads', os.path.basename(file_link))
    
    if not file_link.startswith('http'): # if the link is relative, make it an absolute URL by appending the base URL
        file_link = url + file_link

    download_files(file_link, filename) # download the file

<Response [200]>
[]

## Unzip & reorganize files

In [ ]:
# - alternatively (instead of next cell), unzip first and then reorganize files

# Unzip files  
# zip_dir = current_dir+'/downloads' # directory containing the zip files
# extract_dir = current_dir+'/data' # directory where extracted files will be saved

# for filename in os.listdir(zip_dir): # loop through all files in the directory
#     if filename.endswith('.zip') :
#         zip_file_path = os.path.join(zip_dir, filename)
#         new_file_path = extract_dir + '/' + filename[:-4] + '.csv' # remove '.zip' and subfolders from the target path name
#         os.makedirs(new_file_path, exist_ok=True)  # create the directory if it doesn't exist

#         with zipfile.ZipFile(zip_file_path, 'r') as zip_ref: # extract the zip file
#             for member in zip_ref.namelist():
#                 if '_MACOSX' not in member: # skip any file or folder inside "_MACOSX" (for MAC computers, not needed)
#                     zip_ref.extract(member, new_file_path) # extract to the specified directory

#             print(f'Extracted: {member} to {new_file_path}')


# # Move  files from subfolders in subfolders to 1 folder

# import shutil

# source_dir = current_dir + '/data'
# destination_dir = current_dir + '/data_test'
# os.makedirs(destination_dir, exist_ok=True)

# for root, dirs, files in os.walk(source_dir):
#     for file in files:
#         if file.endswith('.csv') and not file.startswith('.'): # select .csv files, skip files starting with '.' 
#             if '_MACOSX' in root:
#                 continue  # skip this directory and its contents, for MAC

#             source_file = os.path.join(root, file)
#             destination_file = os.path.join(destination_dir, file)
            
#             shutil.move(source_file, destination_file) # or shutil.copy
#             print(f"Moved: {source_file} -> {destination_file}")

In [95]:
# Unzip files & reorganize simultaneously
zip_dir = current_dir + '/downloads'  # directory containing the zip files
extract_dir = current_dir + '/data/bike-tripdata'  # directory where extracted files will be saved

os.makedirs(extract_dir, exist_ok=True)  # create the directory if it doesn't exist

for filename in os.listdir(zip_dir):  # loop through all files in the directory
    if filename.endswith('.zip'):
        zip_file_path = os.path.join(zip_dir, filename)

        with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:  # extract the zip file
            for member in zip_ref.namelist():
                # skip any file or folder inside "_MACOSX" (for MAC computers, not needed), and files that do not end with .csv
                if '_MACOSX' not in member and member.endswith('.csv'):  
                    # get only the base name of the file (ignore folder structure in zip)
                    base_member = os.path.basename(member)
                    target_path = os.path.join(extract_dir, base_member)
                    
                    with zip_ref.open(member) as source, open(target_path, 'wb') as target:
                        target.write(source.read())  # write the extracted content to the single folder

                    print(f'Extracted {base_member}')
    print(f'... from {filename} to {extract_dir}')

Extracted 201309-citibike-tripdata.csv
Extracted 201311-citibike-tripdata.csv
Extracted 201307-citibike-tripdata.csv
Extracted 201308-citibike-tripdata.csv
Extracted 201306-citibike-tripdata.csv
Extracted 201310-citibike-tripdata.csv
Extracted 201312-citibike-tripdata.csv
Extracted 201312-citibike-tripdata_1.csv
Extracted 201311-citibike-tripdata_1.csv
Extracted 201307-citibike-tripdata_1.csv
Extracted 201310-citibike-tripdata_2.csv
Extracted 201310-citibike-tripdata_1.csv
Extracted 201309-citibike-tripdata_2.csv
Extracted 201309-citibike-tripdata_1.csv
Extracted 201308-citibike-tripdata_1.csv
Extracted 201308-citibike-tripdata_2.csv
Extracted 201306-citibike-tripdata_1.csv
from 2013-citibike-tripdata.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted 201404-citibike-tripdata_1.csv
Extracted 201412-citibike-tripdata_1.csv
Extracted 201411-citibike-tripdata_1.csv
Extracted 201407-citibike-tripdata_1.csv
Extracted 201410-citibike-tripdata_1.csv
Extracted 201409-citibike-tripdata_1.csv
Extracted 201408-citibike-tripdata_1.csv
Extracted 201406-citibike-tripdata_1.csv
Extracted 201403-citibike-tripdata_1.csv
Extracted 201401-citibike-tripdata_1.csv
Extracted 201402-citibike-tripdata_1.csv
Extracted 201405-citibike-tripdata_1.csv
from 2014-citibike-tripdata.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted 201504-citibike-tripdata_1.csv
Extracted 201512-citibike-tripdata_1.csv
Extracted 201511-citibike-tripdata_1.csv
Extracted 201507-citibike-tripdata_1.csv
Extracted 201507-citibike-tripdata_2.csv
Extracted 201510-citibike-tripdata_2.csv
Extracted 201510-citibike-tripdata_1.csv
Extracted 201509-citibike-tripdata_2.csv
Extracted 201509-citibike-tripdata_1.csv
Extracted 201508-citibike-tripdata_1.csv
Extracted 201508-citibike-tripdata_2.csv
Extracted 201506-citibike-tripdata_1.csv
Extracted 201503-citibike-tripdata_1.csv
Extracted 201501-citibike-tripdata_1.csv
Extracted 201502-citibike-tripdata_1.csv
Extracted 201505-citibike-tripdata_1.csv
from 2015-citibike-tripdata.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted 201604-citibike-tripdata_1.csv
Extracted 201604-citibike-tripdata_2.csv
Extracted 201612-citibike-tripdata_1.csv
Extracted 201611-citibike-tripdata_2.csv
Extracted 201611-citibike-tripdata_1.csv
Extracted 201607-citibike-tripdata_2.csv
Extracted 201607-citibike-tripdata_1.csv
Extracted 201610-citibike-tripdata_1.csv
Extracted 201610-citibike-tripdata_2.csv
Extracted 201609-citibike-tripdata_1.csv
Extracted 201609-citibike-tripdata_2.csv
Extracted 201608-citibike-tripdata_2.csv
Extracted 201608-citibike-tripdata_1.csv
Extracted 201606-citibike-tripdata_1.csv
Extracted 201606-citibike-tripdata_2.csv
Extracted 201603-citibike-tripdata_1.csv
Extracted 201601-citibike-tripdata_1.csv
Extracted 201602-citibike-tripdata_1.csv
Extracted 201605-citibike-tripdata_2.csv
Extracted 201605-citibike-tripdata_1.csv
from 2016-citibike-tripdata.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted 201704-citibike-tripdata.csv_1.csv
Extracted 201704-citibike-tripdata.csv_2.csv
Extracted 201712-citibike-tripdata.csv_1.csv
Extracted 201711-citibike-tripdata.csv_2.csv
Extracted 201711-citibike-tripdata.csv_1.csv
Extracted 201707-citibike-tripdata.csv_2.csv
Extracted 201707-citibike-tripdata.csv_1.csv
Extracted 201710-citibike-tripdata.csv_1.csv
Extracted 201710-citibike-tripdata.csv_2.csv
Extracted 201709-citibike-tripdata.csv_2.csv
Extracted 201709-citibike-tripdata.csv_1.csv
Extracted 201708-citibike-tripdata.csv_1.csv
Extracted 201708-citibike-tripdata.csv_2.csv
Extracted 201706-citibike-tripdata.csv_1.csv
Extracted 201706-citibike-tripdata.csv_2.csv
Extracted 201703-citibike-tripdata.csv_1.csv
Extracted 201701-citibike-tripdata.csv_1.csv
Extracted 201702-citibike-tripdata.csv_1.csv
Extracted 201705-citibike-tripdata.csv_2.csv
Extracted 201705-citibike-tripdata.csv_1.csv
from 2017-citibike-tripdata.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted 201809-citibike-tripdata.csv
Extracted 201801-citibike-tripdata.csv
Extracted 201803-citibike-tripdata.csv
Extracted 201805-citibike-tripdata.csv
Extracted 201807-citibike-tripdata.csv
Extracted 201811-citibike-tripdata.csv
Extracted 201804-citibike-tripdata_1.csv
Extracted 201804-citibike-tripdata_2.csv
Extracted 201808-citibike-tripdata.csv
Extracted 201802-citibike-tripdata.csv
Extracted 201812-citibike-tripdata.csv
Extracted 201804-citibike-tripdata.csv
Extracted 201810-citibike-tripdata.csv
Extracted 201806-citibike-tripdata.csv
Extracted 201804-citibike-tripdata_1.csv
Extracted 201804-citibike-tripdata_2.csv
Extracted 201812-citibike-tripdata_1.csv
Extracted 201812-citibike-tripdata_2.csv
Extracted 201811-citibike-tripdata_2.csv
Extracted 201811-citibike-tripdata_1.csv
Extracted 201807-citibike-tripdata_2.csv
Extracted 201807-citibike-tripdata_1.csv
Extracted 201810-citibike-tripdata_1.csv
Extracted 201810-citibike-tripdata_2.csv
Extracted 201809-citibike-tripdata_1.csv
Extracted 201809-citibike-tripdata_2.csv
Extracted 201808-citibike-tripdata_2.csv
Extracted 201808-citibike-tripdata_1.csv
Extracted 201806-citibike-tripdata_1.csv
Extracted 201806-citibike-tripdata_2.csv
Extracted 201803-citibike-tripdata_1.csv
Extracted 201801-citibike-tripdata_1.csv
Extracted 201802-citibike-tripdata_1.csv
Extracted 201805-citibike-tripdata_2.csv
Extracted 201805-citibike-tripdata_1.csv
from 2018-citibike-tripdata.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted 201904-citibike-tripdata_2.csv
Extracted 201904-citibike-tripdata_1.csv
Extracted 201912-citibike-tripdata_1.csv
Extracted 201911-citibike-tripdata_1.csv
Extracted 201911-citibike-tripdata_2.csv
Extracted 201907-citibike-tripdata_1.csv
Extracted 201907-citibike-tripdata_3.csv
Extracted 201907-citibike-tripdata_2.csv
Extracted 201910-citibike-tripdata_3.csv
Extracted 201910-citibike-tripdata_2.csv
Extracted 201910-citibike-tripdata_1.csv
Extracted 201909-citibike-tripdata_3.csv
Extracted 201909-citibike-tripdata_2.csv
Extracted 201909-citibike-tripdata_1.csv
Extracted 201908-citibike-tripdata_1.csv
Extracted 201908-citibike-tripdata_2.csv
Extracted 201908-citibike-tripdata_3.csv
Extracted 201906-citibike-tripdata_2.csv
Extracted 201906-citibike-tripdata_3.csv
Extracted 201906-citibike-tripdata_1.csv
Extracted 201903-citibike-tripdata_1.csv
Extracted 201903-citibike-tripdata_2.csv
Extracted 201901-citibike-tripdata_1.csv
Extracted 201902-citibike-tripdata_1.csv
Extracted 201905-citibike-tripdata_1.csv
Extracted 201905-citibike-tripdata_2.csv
from 2019-citibike-tripdata.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
from 2020-citibike-tripdata.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
from 2021-citibike-tripdata.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
from 2022-citibike-tripdata.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
from 2023-citibike-tripdata.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted 202401-citibike-tripdata.csv
from 202401-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted 202402-citibike-tripdata.csv
from 202402-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted 202403-citibike-tripdata.csv
from 202403-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted 202404-citibike-tripdata.csv
from 202404-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted 202405-citibike-tripdata_1.csv
Extracted 202405-citibike-tripdata_2.csv
Extracted 202405-citibike-tripdata_3.csv
Extracted 202405-citibike-tripdata_4.csv
Extracted 202405-citibike-tripdata_5.csv
from 202405-citibike-tripdata.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted 202406-citibike-tripdata_5.csv
Extracted 202406-citibike-tripdata_4.csv
Extracted 202406-citibike-tripdata_1.csv
Extracted 202406-citibike-tripdata_3.csv
Extracted 202406-citibike-tripdata_2.csv
from 202406-citibike-tripdata.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata

Extracted 202407-citibike-tripdata_1.csv
Extracted 202407-citibike-tripdata_2.csv
Extracted 202407-citibike-tripdata_3.csv
Extracted 202407-citibike-tripdata_4.csv
Extracted 202407-citibike-tripdata_5.csv
from 202407-citibike-tripdata.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted 202408-citibike-tripdata_3.csv
Extracted 202408-citibike-tripdata_2.csv
Extracted 202408-citibike-tripdata_1.csv
Extracted 202408-citibike-tripdata_5.csv
Extracted 202408-citibike-tripdata_4.csv
from 202408-citibike-tripdata.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201509-citibike-tripdata.csv
from JC-201509-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201510-citibike-tripdata.csv
from JC-201510-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201511-citibike-tripdata.csv
from JC-201511-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201512-citibike-tripdata.csv
from JC-201512-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-20161-citibike-tripdata.csv
from JC-201601-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-20162-citibike-tripdata.csv
from JC-201602-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-20163-citibike-tripdata.csv
from JC-201603-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201604-citibike-tripdata.csv
from JC-201604-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201605-citibike-tripdata.csv
from JC-201605-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201606-citibike-tripdata.csv
from JC-201606-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201607-citibike-tripdata.csv
from JC-201607-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201608-citibike-tripdata.csv
from JC-201608-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201609-citibike-tripdata.csv
from JC-201609-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201610-citibike-tripdata.csv
from JC-201610-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201611-citibike-tripdata.csv
from JC-201611-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201612-citibike-tripdata.csv
from JC-201612-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201701-citibike-tripdata.csv
from JC-201701-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201702-citibike-tripdata.csv
from JC-201702-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201703-citibike-tripdata.csv
from JC-201703-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201704-citibike-tripdata.csv
from JC-201704-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201705-citibike-tripdata.csv
from JC-201705-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201706-citibike-tripdata.csv
from JC-201706-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201707-citibike-tripdata.csv
from JC-201707-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201708 citibike-tripdata.csv
from JC-201708 citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201709-citibike-tripdata.csv
from JC-201709-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201710-citibike-tripdata.csv
from JC-201710-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201711-citibike-tripdata.csv
from JC-201711-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201712-citibike-tripdata.csv
from JC-201712-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201801-citibike-tripdata.csv
from JC-201801-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201802-citibike-tripdata.csv
from JC-201802-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201803-citibike-tripdata.csv
from JC-201803-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201804-citibike-tripdata.csv
from JC-201804-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201805-citibike-tripdata.csv
from JC-201805-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201806-citibike-tripdata.csv
from JC-201806-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201807-citibike-tripdata.csv
from JC-201807-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201808-citibike-tripdata.csv
from JC-201808-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201809-citibike-tripdata.csv
from JC-201809-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201810-citibike-tripdata.csv
from JC-201810-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201811-citibike-tripdata.csv
from JC-201811-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201812-citibike-tripdata.csv
from JC-201812-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201901-citibike-tripdata.csv
from JC-201901-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201902-citibike-tripdata.csv
from JC-201902-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201903-citibike-tripdata.csv
from JC-201903-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201904-citibike-tripdata.csv
from JC-201904-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201905-citibike-tripdata.csv
from JC-201905-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201906-citibike-tripdata.csv
from JC-201906-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201907-citibike-tripdata.csv
from JC-201907-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201908-citibike-tripdata.csv
from JC-201908-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201909-citibike-tripdata.csv
from JC-201909-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201910-citibike-tripdata.csv
from JC-201910-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201911-citibike-tripdata.csv
from JC-201911-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-201912-citibike-tripdata.csv
from JC-201912-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202001-citibike-tripdata.csv
from JC-202001-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202002-citibike-tripdata.csv
from JC-202002-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202003-citibike-tripdata.csv
from JC-202003-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202004-citibike-tripdata.csv
from JC-202004-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202005-citibike-tripdata.csv
from JC-202005-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202006-citibike-tripdata.csv
from JC-202006-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata

Extracted JC-202007-citibike-tripdata.csv
from JC-202007-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202008-citibike-tripdata.csv
from JC-202008-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202009-citibike-tripdata.csv
from JC-202009-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202010-citibike-tripdata.csv
from JC-202010-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202011-citibike-tripdata.csv
from JC-202011-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202012-citibike-tripdata.csv
from JC-202012-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202101-citibike-tripdata.csv
from JC-202101-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202102-citibike-tripdata.csv
from JC-202102-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202103-citibike-tripdata.csv
from JC-202103-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202104-citibike-tripdata.csv
from JC-202104-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202105-citibike-tripdata.csv
from JC-202105-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202106-citibike-tripdata.csv
from JC-202106-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202107-citibike-tripdata.csv
from JC-202107-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202108-citibike-tripdata.csv
from JC-202108-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202109-citibike-tripdata.csv
from JC-202109-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202110-citibike-tripdata.csv
from JC-202110-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202111-citibike-tripdata.csv
from JC-202111-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202112-citibike-tripdata.csv
from JC-202112-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202201-citibike-tripdata.csv
from JC-202201-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202202-citibike-tripdata.csv
from JC-202202-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202203-citibike-tripdata.csv
from JC-202203-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202204-citibike-tripdata.csv
from JC-202204-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202205-citibike-tripdata.csv
from JC-202205-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202206-citibike-tripdata.csv
from JC-202206-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202207-citbike-tripdata.csv
from JC-202207-citbike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202208-citibike-tripdata.csv
from JC-202208-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202209-citibike-tripdata.csv
from JC-202209-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202210-citibike-tripdata.csv
from JC-202210-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202211-citibike-tripdata.csv
from JC-202211-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202212-citibike-tripdata.csv
from JC-202212-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202301-citibike-tripdata.csv
from JC-202301-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202302-citibike-tripdata.csv
from JC-202302-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202303-citibike-tripdata.csv
from JC-202303-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202304-citibike-tripdata.csv
from JC-202304-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202305-citibike-tripdata.csv
from JC-202305-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202306-citibike-tripdata.csv
from JC-202306-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202307-citibike-tripdata.csv
from JC-202307-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202308-citibike-tripdata.csv
from JC-202308-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202309-citibike-tripdata.csv
from JC-202309-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202310-citibike-tripdata.csv
from JC-202310-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202311-citibike-tripdata.csv
from JC-202311-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202312-citibike-tripdata.csv
from JC-202312-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202401-citibike-tripdata.csv
from JC-202401-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202402-citibike-tripdata.csv
from JC-202402-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202403-citibike-tripdata.csv
from JC-202403-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202404-citibike-tripdata.csv
from JC-202404-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202406-citibike-tripdata.csv
from JC-202406-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202407-citibike-tripdata.csv
from JC-202407-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata
Extracted JC-202408-citibike-tripdata.csv
from JC-202408-citibike-tripdata.csv.zip to C:\Users\Hanna\sciebo\AXA_coding-challenge/data/bike-tripdata

## Visualize dataset for cleaning
### 1. Check which unique column names exist across all files
### 2. Correct column names (strip uppercase and convert space to underscore)
### 3. Map names to manual

In [12]:
# Since CSV files do not contain the same column headers, check which ones exist in the dataset?
list_files = [f for f in os.listdir(extract_dir) if f.endswith('.csv')]
unique_column_names = []
for csv_file in list_files:
    file_path = os.path.join(extract_dir, csv_file)
    df = pd.read_csv(file_path, nrows=3)
    [unique_column_names.append(col) for col in df.columns if col not in unique_column_names]
print(unique_column_names)

['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']

It turns out that the column names are not consistent, e.g. some files contain the column "starttime" while others contain the column "Start Time". This should be corrected. Additionally, column names should not contain spaces ("start station latitude" vs "start_lat"). Last, there are 2 strange column names which need to be checked: "Unnamed: 0" and "rideable_type_duplicate_column_name_1".

### Correct column names

In [13]:
unique_column_names = list_unique_col_names(list_files)
print('Unique column names: \n  ' + str(unique_column_names))
column_mapping = {
    'bikeid': 'bike_id',
    'end_lat': 'end_station_latitude',
    'end_lng': 'end_station_longitude',
    'ended_at': 'end_datetime',
    'member_casual': 'user_type',
    'rideable_type_duplicate_column_name_1': 'duplicate_col',
    'start_lat': 'start_station_latitude',
    'start_lng': 'start_station_longitude',
    'starttime': 'start_datetime',
    'start_time': 'start_datetime',
    'started_at': 'start_datetime',
    'stoptime': 'end_datetime',
    'stop_time': 'end_datetime',
    'tripduration': 'trip_duration',
    'unnamed:_0': 'unnamed', # this is just an index column without name, present in some files -> can be discarded later
    'usertype': 'user_type'
}

# Exploratory correction, see if it solves the inconsistencies
unique_column_names=[]
for csv_file in list_files:
    file_path = os.path.join(extract_dir, csv_file)
    df = pd.read_csv(file_path, nrows=1)
#     if 'rideable_type_duplicate_column_name_1' in df.columns: # check what column this is -> just a duplicate -> can be discarded
#         print(df.head(2))
    df = clean_column_names(df, column_mapping)
    ##print(df.columns)
    
    [unique_column_names.append(col) for col in df.columns if col not in unique_column_names] # save new col names for checking
    unique_column_names.sort()

remove_names = ['unnamed','duplicate_col'] # column names to remove
final_column_names = [name for name in unique_column_names if name not in remove_names] # list with final universal column names
print(' ')
print('Unique column names after cleaning: \n ' + str(final_column_names)) # -> satisfied!
final_column_names.extend(['year','month']) # add the columns year and month, as I will add them from start_datetime

Unique column names:
  ['end_lat', 'end_lng', 'end_station_id', 'end_station_name', 'ended_at', 'member_casual', 'ride_id', 'rideable_type', 'start_lat', 'start_lng', 'start_station_id', 'start_station_name', 'started_at']

Unique column names after cleaning:
 ['end_datetime', 'end_station_id', 'end_station_latitude', 'end_station_longitude', 'end_station_name', 'ride_id', 'rideable_type', 'start_datetime', 'start_station_id', 'start_station_latitude', 'start_station_longitude', 'start_station_name', 'user_type']

In [14]:
# check if data type of files are the same
check_dtype = {col: [] for col in final_column_names} # create empty dict to store dtypes

list_files = [f for f in os.listdir(extract_dir) if f.endswith('.csv')]
for csv_file in list_files:
#df.memory_usage(deep=True).sum()
    file_path = os.path.join(extract_dir, csv_file)
    df = pd.read_csv(file_path, nrows=3)
    df = clean_column_names(df, column_mapping) # clean column names
    to_remove = ['duplicate_col','unnamed'] 
    for col in to_remove:
        if col in df.columns:
            df.drop(col, axis=1, inplace=True) # drop these columns
    for col in df.columns:
        #print(f'{col}: {df[col].dtype}')
        check_dtype[col].append(df[col].dtype)

for col in check_dtype:
    print(f"Column: {col}")
    print(f"Unique dtypes: {set(check_dtype[col])}\n")

Column: end_datetime
Unique dtypes: {dtype('O')}

Column: end_station_id
Unique dtypes: {dtype('float64')}

Column: end_station_latitude
Unique dtypes: {dtype('float64')}

Column: end_station_longitude
Unique dtypes: {dtype('float64')}

Column: end_station_name
Unique dtypes: {dtype('O')}

Column: ride_id
Unique dtypes: {dtype('O')}

Column: rideable_type
Unique dtypes: {dtype('O')}

Column: start_datetime
Unique dtypes: {dtype('O')}

Column: start_station_id
Unique dtypes: {dtype('float64')}

Column: start_station_latitude
Unique dtypes: {dtype('float64')}

Column: start_station_longitude
Unique dtypes: {dtype('float64')}

Column: start_station_name
Unique dtypes: {dtype('O')}

Column: user_type
Unique dtypes: {dtype('O')}

Column: year
Unique dtypes: set()

Column: month
Unique dtypes: set()

In [15]:
df.head() # view the last csv file, still loaded in memory

,ride_id,rideable_type,start_datetime,end_datetime,start_station_name,start_station_id,end_station_name,end_station_id,start_station_latitude,start_station_longitude,end_station_latitude,end_station_longitude,user_type
0,5078F3D302000BD2,electric_bike,2024-01-22 18:43:19.012,2024-01-22 18:48:10.708,Frederick Douglass Blvd & W 145 St,7954.1200,St Nicholas Ave & W 126 St,7756.1000,40.8231,-73.9417,40.8114,-73.9519,member
1,814337105D37302A,electric_bike,2024-01-11 19:19:18.721,2024-01-11 19:47:36.007,W 54 St & 6 Ave,6771.1300,E 74 St & 1 Ave,6953.0800,40.7618,-73.9770,40.7690,-73.9548,member
2,A33A920E2B10710C,electric_bike,2024-01-30 19:17:41.693,2024-01-30 19:32:49.857,E 11 St & Ave B,5659.1100,W 10 St & Washington St,5847.0600,40.7276,-73.9798,40.7334,-74.0085,casual

In [16]:
# Get universal entries for columns I am converting to str and then to category (global categories across csv files)
dtype_cat =['gender', 'user_type', 'rideable_type']

# get global categories (differing per file)
categories_dict = {col: set() for col in dtype_cat }

# Collect all unique categories across the DataFrames
for csv_file in list_files:  
    file_path = os.path.join(extract_dir, csv_file) # load individual file
    
    # Process the file in chunks to save memory
    df = pd.read_csv(file_path)
    df = clean_column_names(df, column_mapping) # clean column names
    to_remove = ['duplicate_col','unnamed'] 
    for col in to_remove:
        if col in df.columns:
            df.drop(col, axis=1, inplace=True) # drop these columns
        
    for col in df.columns:
        if col in categories_dict:
            df[col].fillna('unknown').dropna()   
            categories_dict[col].update(df[col].unique())  # update unique categories of df
            #categories_dict[col].add('unknown') # add category 'unknown' for missing data
categories_dict['user_type'].discard(np.nan) # for some reason still nan as category here
categories_dict

C:\Users\Hanna\AppData\Local\Temp\ipykernel_24200\3511905405.py:12: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

{'gender': set(),
 'user_type': {'casual', 'member'},
 'rideable_type': {'classic_bike', 'electric_bike'}}

## Load csv files, clean column names, change dtypes, concatenate into 1 dask df and save as dask parquet file

In [3]:
### This cell executed in the Anaconda powershell (clean_concat.py), since its faster/requires less memory on my 16GB mem laptop ###

if not os.path.exists(cleaned_dir):  # directory to save the cleaned df
    os.makedirs(cleaned_dir)

dtype_dict = { # desired dtypes
    'int32': ['birth_year', 'trip_duration'],
    'float32': ['start_station_id', 'end_station_id'], 
    'float64': ['start_station_latitude', 'start_station_longitude', 'end_station_latitude', 'end_station_longitude'],
    'str': ['start_station_name', 'end_station_name', 'ride_id'], 
    'category': ['gender', 'user_type', 'rideable_type'],
    'datetime64[ns]': ['start_datetime', 'end_datetime']
}

dtype_mapping = {} # dictionary with col: dtype, for changing data types per column
for dtype, columns in dtype_dict.items():
    for col in columns:
        dtype_mapping[col] = dtype

list_files = [f for f in os.listdir(extract_dir) if f.endswith('.csv')] # list of csv files in dir to loop over
chunksize = 1_000_000  # load in chunks to save memory, in case csv file is huge

ddf_list = []
for csv_file in list_files[0:2]: 
    file_path = os.path.join(extract_dir, csv_file) # load individual file
    print('loading ' +  csv_file)
    
    # Process the file in chunks to save memory
    chunk_iter = pd.read_csv(file_path, chunksize=chunksize, low_memory=True, parse_dates=True)

    for n, chunk in enumerate(chunk_iter):
        ddf = clean_column_names(chunk, column_mapping)  # Clean column names
 
        # Convert to Dask DataFrame for larger datasets
        #ddf = dd.from_pandas(chunk, npartitions=1) #
        #print('to dask converted')
        # Drop unwanted columns
        to_remove = ['duplicate_col', 'unnamed']
        ddf = ddf.drop(columns=[col for col in to_remove if col in ddf.columns])
        
        missing_cols = set(final_column_names) - set(ddf.columns) # add missing (universal) columns from final_column_names and fill with nans
        for col in missing_cols:
            ddf[col] = np.nan
                
        # Convert column dtypes
        for col in ddf.columns:
            if col in dtype_dict['int32']:
                ddf[col] = ddf[col].replace('\\N', np.nan)  # handle missing values
                ddf[col] = pd.to_numeric(ddf[col], errors='coerce').astype('float32')
                ddf[col] = ddf[col].fillna(0).round(0).astype('int32') # replace nan with the place filler 0, round and convert to int
            elif col in dtype_dict['category']: # for categorical data, replace nans with 'unknown' cat
                ddf[col] = ddf[col].fillna('unknown')  # Replace NaNs with 'unknown'
                ddf[col] = ddf[col].astype('str') # convert to str first
                ddf[col] = ddf[col].astype('category') # string to category, as it needs less memory
                ddf[col] = ddf[col].cat.set_categories(new_categories=list(categories_dict[col])) # set global categories
            elif col in dtype_dict['str']: # - added 6.10
                ddf[col] = ddf[col].fillna('unknown')  # Replace NaNs with 'unknown'
                ddf[col] = ddf[col].astype(dtype_mapping[col]) # 
            elif col in dtype_mapping.keys():
                if col in dtype_dict['float32'] or col in col in dtype_dict['float64']:
                    ddf[col] = pd.to_numeric(ddf[col], errors='coerce')
                ddf[col] = ddf[col].astype(dtype_mapping[col]) 
                
        ddf = ddf.drop_duplicates().sort_values(by='start_datetime')# drop duplicates and sort to start rental time/date
        ddf = ddf.reset_index(drop=True)
        #ddf = ddf.set_index('start_datetime') # set start_datetime as index

        ddf['year'] = ddf['start_datetime'].dt.year.astype('int32') # add year column for partitioning
        ddf['month'] = ddf['start_datetime'].dt.month.astype('int8') # add month column for partitioning
                                            
        ddf = ddf[final_column_names] # ensure consistent column order   

        ddf = dd.from_pandas(ddf, npartitions=5)
        ddf_list.append(ddf)   
    print('.... cleaned, converted to dask df and appended to ddf_list')     

ddf_comb = dd.concat(ddf_list, ignore_index=True) # concatenate all dask dfs
#del ddf_list
ddf_comb = ddf_comb.drop_duplicates() # remove duplicates

# check if all dtypes are consistent across ddfs
check_dtype = {col: [] for col in final_column_names}
for ddf in ddf_list:
    for col in ddf.columns:
        check_dtype[col].append(ddf[col].dtype)

for col in check_dtype.keys():
    print(col)
    print(pd.Series(check_dtype[col]).unique())
    if len(pd.Series(check_dtype[col]).unique()) > 1:
        print(col + ' has inconsistent dtypes')
    
ddf_comb.to_parquet(cleaned_dir + '/combined_dask_df.parquet', engine='pyarrow', partition_on=['year', 'month'], write_index=False) # write, partitioned on year and month
print('All files processed and saved to Parquet')

## Load cleaned ddf (data bike rides)

In [3]:
# Load cleaned data from saved file
ddf = dd.read_parquet(cleaned_dir + '/combined_dask_df0810.parquet')
#ddf = dd.read_parquet('path_to_parquet_file', columns=['category_column', 'numeric_column']) # read only specific columns
#ddf_2020 = dd.read_parquet('path_to_parquet_file/year=2020') # read only specific partition

ddf.head()

,bike_id,birth_year,end_datetime,end_station_id,end_station_latitude,end_station_longitude,end_station_name,gender,ride_id,rideable_type,start_datetime,start_station_id,start_station_latitude,start_station_longitude,start_station_name,trip_duration,user_type,year,month
0,14887.0000,1972,2013-06-01 10:50:32,531.0000,40.7189,-73.9927,Forsyth St & Broome St,NaN,nan,NaN,2013-06-01 10:42:56,491.0000,40.7410,-73.9860,E 24 St & Park Ave S,456,Subscriber,2013,6
1,16981.0000,0,2013-06-01 12:12:29,336.0000,40.7305,-73.9991,Sullivan St & Washington Sq,NaN,nan,NaN,2013-06-01 11:55:25,497.0000,40.7370,-73.9901,E 17 St & Broadway,1024,Customer,2013,6
2,14988.0000,1970,2013-06-01 12:59:14,471.0000,40.7129,-73.9570,Grand St & Havemeyer St,NaN,nan,NaN,2013-06-01 12:17:56,244.0000,40.6920,-73.9654,Willoughby Ave & Hall St,2478,Subscriber,2013,6
3,16426.0000,1983,2013-06-01 13:30:06,259.0000,40.7012,-74.0123,South St & Whitehall St,NaN,nan,NaN,2013-06-01 13:07:13,438.0000,40.7278,-73.9856,St Marks Pl & 1 Ave,1373,Subscriber,2013,6
4,19252.0000,1987,2013-06-01 13:36:17,432.0000,40.7262,-73.9838,E 7 St & Avenue A,NaN,nan,NaN,2013-06-01 13:14:23,520.0000,40.7599,-73.9765,W 52 St & 5 Ave,1314,Subscriber,2013,6

Now that all column names are consistent and all data is concatenated, check if categories in some columns are consistent

In [5]:
print('Unique categories:')
print(f'user_type - {ddf["user_type"].cat.as_known().cat.categories}')
print(f'rideable_type - {ddf["rideable_type"].cat.as_known().cat.categories}')

print('Unique string:')
print('start_station id, unique: '+str(ddf.start_station_id.nunique().compute()))
print('start_station name, unique: '+str(ddf.start_station_name.nunique().compute()))
print('end_station_id, unique: '+str(ddf.end_station_id.nunique().compute()))
print('end_station name, unique: '+str(ddf.end_station_name.nunique().compute()))

Unique categories:
user_type - Index(['member', 'Customer', 'Subscriber', 'casual'], dtype='object')
rideable_type - Index(['electric_bike', 'classic_bike', 'docked_bike'], dtype='object')
Unique string:
start_station id, unique: 3318
start_station name, unique: 2581
end_station_id, unique: 3359
end_station name, unique: 2610

In [ ]:
print(ddf.dtypes)

bike_id                            float64
birth_year                           int32
end_datetime                datetime64[ns]
end_station_id                     float32
end_station_latitude               float64
end_station_longitude              float64
end_station_name           string[pyarrow]
gender                            category
ride_id                    string[pyarrow]
rideable_type                     category
start_datetime              datetime64[ns]
start_station_id                   float32
start_station_latitude             float64
start_station_longitude            float64
start_station_name         string[pyarrow]
trip_duration                        int32
user_type                         category
year                              category
month                             category
dtype: object

In [4]:
# Check memory usage of ddf
memory_usage = ddf.memory_usage(deep=True).compute()
total_memory_usage = memory_usage.sum() # total memory usage in bytes
print(f"Total memory usage of ddf: {total_memory_usage / (1024**3):.2f} GB") # convert to GB

Total memory usage of ddf: 17.28 GB

Okay, this shows that the ddf still requires a lot of memory, therefore I will see if I can further reduce this (by changing to the most efficient dtype, and rounding floats).

In [10]:
# Additional adjustments of dtype - check min and max, to decide which dtype can represent all values

print(f"bike_id (min, max): {ddf['bike_id'].dropna().min().compute()}, {ddf['bike_id'].dropna().max().compute()}")
print(f"start_station_id (min, max): {ddf['start_station_id'].dropna().min().compute()}, {ddf['start_station_id'].dropna().max().compute()}")
print(f"end_station_id (min, max): {ddf['end_station_id'].dropna().min().compute()}, {ddf['end_station_id'].dropna().max().compute()}")
print(f"trip_duration (min, max): {ddf['trip_duration'].dropna().min().compute()}, {ddf['trip_duration'].dropna().max().compute()}")

bike_id (min, max): 14529.0, 49985.0
start_station_id (min, max): 72.0, 8897.0498046875
end_station_id (min, max): 72.0, 8897.0498046875
trip_duration (min, max): 0, 20260212

In [12]:
ddf['start_station_id'].unique().compute() # -> decimals, I didnt expect that

0   3206.0000
0   8451.0703
0   3383.0000
0   6889.1201
0   4122.0298
       ...
0   6190.0298
0   8485.0098
0   3900.0000
1   7820.0498
0   8472.0596
Name: start_station_id, Length: 3319, dtype: float32

In [9]:
# Manual check by opening the first csv file, should be: start_station_id=3255, end_station_id=537
ddf.loc[ddf['start_datetime'] == pd.to_datetime('2018-04-27 07:26:52')].compute()

Empty DataFrame
Columns: [bike_id, birth_year, end_datetime, end_station_id, end_station_latitude, end_station_longitude, end_station_name, gender, ride_id, rideable_type, start_datetime, start_station_id, start_station_latitude, start_station_longitude, start_station_name, trip_duration, user_type, year, month]
Index: []

In [13]:
# Additional adjustments of dtype, based on min and max value in the dataset

# bike_id -> overlooked. Ideally, do it in the previous cleaning step, but since that takes a long time to run and I dont have much time left, Im doing it here for now
ddf['bike_id'] = pd.to_numeric(ddf['bike_id'], errors='coerce')
ddf['bike_id'] = ddf['bike_id'].round(0).astype('Int64')  

# start_station_id and end_station_id -> Int64 which can handle NaNs (I didnt know earlier), and decimals are not needed
ddf['start_station_id'] = ddf['start_station_id'].round(0).astype('Int64')
ddf['end_station_id'] = ddf['end_station_id'].round(0).astype('Int64')

# birth_year can be int16 (range: -32768 to 32767) as NaNs are set to 0 already
ddf['birth_year'] = ddf['birth_year'].astype('int16')
ddf['trip_duration'] = ddf['trip_duration'].astype('int32') #

ddf = ddf.sort_values(by='start_datetime')# sort again to start rental time/date, since ddf does not seem sorted (time starts at 10am instead of midnight)

#ddf.compute()
ddf.head(2)

,bike_id,birth_year,end_datetime,end_station_id,end_station_latitude,end_station_longitude,end_station_name,gender,ride_id,rideable_type,start_datetime,start_station_id,start_station_latitude,start_station_longitude,start_station_name,trip_duration,user_type,year,month
0,19678,1983,2013-06-01 00:11:36,434,40.743174,-74.003664,9 Ave & W 18 St,NaN,nan,NaN,2013-06-01 00:00:01,444,40.742354,-73.989151,Broadway & W 24 St,695,Subscriber,2013,6
0,16649,1984,2013-06-01 00:11:41,434,40.743174,-74.003664,9 Ave & W 18 St,NaN,nan,NaN,2013-06-01 00:00:08,444,40.742354,-73.989151,Broadway & W 24 St,693,Subscriber,2013,6

In [14]:
# Unify string in rideable_type and user_type columns

#ddf['rideable_type'] = ddf['rideable_type'].astype('str').str.strip().str.lower().astype('category')# if needed

def replace_user_type(df):
    df = df.copy()  # make a copy to avoid SettingWithCopyWarning
    df['user_type'] = df['user_type'].astype(str).str.strip().str.lower() # temporarily convert to string (object)
    
    # Replace 'subscriber' with 'member' and 'customer' with 'casual'
    df.loc[df['user_type'] == 'subscriber', 'user_type'] = 'member'
    df.loc[df['user_type'] == 'customer', 'user_type'] = 'casual'

    df['user_type'] = pd.Categorical(df['user_type'], categories=['member', 'casual']) # convert back to category

    return df

# Use map_partitions to apply this function to the Dask DataFrame
ddf = ddf.map_partitions(replace_user_type)

print('Unique categories, after changing "subscriber" to "member" and "customer" to "casual", for consistency:')
print(f'user_type - {ddf["user_type"].cat.as_known().cat.categories}')
ddf.head(2) # check if it worked

Unique categories, after changing "subscriber" to "member" and "customer" to "casual", for consistency:
user_type - Index(['member', 'casual'], dtype='object')

,bike_id,birth_year,end_datetime,end_station_id,end_station_latitude,end_station_longitude,end_station_name,gender,ride_id,rideable_type,start_datetime,start_station_id,start_station_latitude,start_station_longitude,start_station_name,trip_duration,user_type,year,month
0,19678,1983,2013-06-01 00:11:36,434,40.743174,-74.003664,9 Ave & W 18 St,NaN,nan,NaN,2013-06-01 00:00:01,444,40.742354,-73.989151,Broadway & W 24 St,695,member,2013,6
0,16649,1984,2013-06-01 00:11:41,434,40.743174,-74.003664,9 Ave & W 18 St,NaN,nan,NaN,2013-06-01 00:00:08,444,40.742354,-73.989151,Broadway & W 24 St,693,member,2013,6

In [ ]:
ddf.isna().sum().compute() # check how many nans in which columns

In [ ]:
ddf[ddf['end_station_latitude'].isna()].compute().head(5)

In [ ]:
# Check memory usage of ddf after additional data cleaning
memory_usage = ddf.memory_usage(deep=True).compute()
total_memory_usage = memory_usage.sum() # total memory usage in bytes
print(f"Total memory usage of ddf after additional data cleaning: {total_memory_usage / (1024**3):.2f} GB") # convert to GB

In [ ]:
# Get some idea of the df content

print('Mean trip duration: ')
print(ddf.groupby('user_type').agg({'trip_duration': 'mean'}).compute())
ddf.groupby('gender').agg({'trip_duration': 'mean'}).compute()

In [ ]:
# save further cleaned ddf again, overwriting
ddf.to_parquet(cleaned_dir + '/combined_dask_df_cleaned_1010.parquet', engine='pyarrow', partition_on=['year', 'month'], write_index=False) # write, partitioned on year and month

## Collision data
### 1. Inspection
### 2.Cleaning: column names, entries, data type, missing data

In [6]:
file_path = current_dir + '/data/Motor_Vehicle_Collisions_-_Crashes_20240922.csv' # load file
df = pd.read_csv(file_path)

print(df.shape)
df.head(5)

C:\Users\Hanna\AppData\Local\Temp\ipykernel_3788\1023804704.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

(2120518, 29)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208.0000,40.6672,-73.8665,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0000,40.6833,-73.9173,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN

In [7]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_') # clean column names
print(df.columns)
print(df.dtypes)

# How many missing values (nans) and where
summary_table = pd.DataFrame({
    'Nan_count': df.isna().sum(),
    'Total': df.shape[0]
})
print(summary_table)

Index(['crash_date', 'crash_time', 'borough', 'zip_code', 'latitude',
       'longitude', 'location', 'on_street_name', 'cross_street_name',
       'off_street_name', 'number_of_persons_injured',
       'number_of_persons_killed', 'number_of_pedestrians_injured',
       'number_of_pedestrians_killed', 'number_of_cyclist_injured',
       'number_of_cyclist_killed', 'number_of_motorist_injured',
       'number_of_motorist_killed', 'contributing_factor_vehicle_1',
       'contributing_factor_vehicle_2', 'contributing_factor_vehicle_3',
       'contributing_factor_vehicle_4', 'contributing_factor_vehicle_5',
       'collision_id', 'vehicle_type_code_1', 'vehicle_type_code_2',
       'vehicle_type_code_3', 'vehicle_type_code_4', 'vehicle_type_code_5'],
      dtype='object')
crash_date                        object
crash_time                        object
borough                           object
zip_code                          object
latitude                         float64
longitude                        float64
location                          object
on_street_name                    object
cross_street_name                 object
off_street_name                   object
number_of_persons_injured        float64
number_of_persons_killed         float64
number_of_pedestrians_injured      int64
number_of_pedestrians_killed       int64
number_of_cyclist_injured          int64
number_of_cyclist_killed           int64
number_of_motorist_injured         int64
number_of_motorist_killed          int64
contributing_factor_vehicle_1     object
contributing_factor_vehicle_2     object
contributing_factor_vehicle_3     object
contributing_factor_vehicle_4     object
contributing_factor_vehicle_5     object
collision_id                       int64
vehicle_type_code_1               object
vehicle_type_code_2               object
vehicle_type_code_3               object
vehicle_type_code_4               object
vehicle_type_code_5               object
dtype: object
                               Nan_count    Total
crash_date                             0  2120518
crash_time                             0  2120518
borough                           659498  2120518
zip_code                          659758  2120518
latitude                          247820  2120518
longitude                         247820  2120518
location                          247820  2120518
on_street_name                    453598  2120518
cross_street_name                 807416  2120518
off_street_name                  1759293  2120518
number_of_persons_injured             18  2120518
number_of_persons_killed              31  2120518
number_of_pedestrians_injured          0  2120518
number_of_pedestrians_killed           0  2120518
number_of_cyclist_injured              0  2120518
number_of_cyclist_killed               0  2120518
number_of_motorist_injured             0  2120518
number_of_motorist_killed              0  2120518
contributing_factor_vehicle_1       7107  2120518
contributing_factor_vehicle_2     331898  2120518
contributing_factor_vehicle_3    1968151  2120518
contributing_factor_vehicle_4    2085953  2120518
contributing_factor_vehicle_5    2111123  2120518
collision_id                           0  2120518
vehicle_type_code_1                14384  2120518
vehicle_type_code_2               411360  2120518
vehicle_type_code_3              1973843  2120518
vehicle_type_code_4              2087182  2120518
vehicle_type_code_5              2111410  2120518

In [8]:
# Correct the columns number_of_persons_injured and number_of_persons_killed, that contain nan
print(df.loc[df['number_of_persons_injured'].isna(),['number_of_persons_injured','number_of_pedestrians_injured','number_of_cyclist_injured',
                                                'number_of_motorist_injured']].head()) # show 

df.loc[df['number_of_persons_injured'].isna(), 'number_of_persons_injured'] = df['number_of_pedestrians_injured'] + df['number_of_cyclist_injured'] + df['number_of_motorist_injured']
df.loc[df['number_of_persons_killed'].isna(), 'number_of_persons_killed'] = df['number_of_pedestrians_killed'] + df['number_of_cyclist_killed'] + df['number_of_motorist_killed']
                                                                               
df[df['number_of_persons_injured'].isna()] # show again after correction

        number_of_persons_injured  number_of_pedestrians_injured  \
182614                        NaN                              0
569936                        NaN                              0
619341                        NaN                              0
669416                        NaN                              0
712527                        NaN                              0

        number_of_cyclist_injured  number_of_motorist_injured
182614                          1                           0
569936                          0                           1
619341                          0                           1
669416                          0                           0
712527                          0                           1

Empty DataFrame
Columns: [crash_date, crash_time, borough, zip_code, latitude, longitude, location, on_street_name, cross_street_name, off_street_name, number_of_persons_injured, number_of_persons_killed, number_of_pedestrians_injured, number_of_pedestrians_killed, number_of_cyclist_injured, number_of_cyclist_killed, number_of_motorist_injured, number_of_motorist_killed, contributing_factor_vehicle_1, contributing_factor_vehicle_2, contributing_factor_vehicle_3, contributing_factor_vehicle_4, contributing_factor_vehicle_5, collision_id, vehicle_type_code_1, vehicle_type_code_2, vehicle_type_code_3, vehicle_type_code_4, vehicle_type_code_5]
Index: []

[0 rows x 29 columns]

In [9]:
# change column names 'longitude' and 'latitude' for later combining with the bike ride dataset, and number_of_/cyclist/motorist to avoid confusion
df = df.rename(columns={'latitude': 'accident_latitude', 'longitude': 'accident_longitude', 'number_of_cyclist_injured':'number_of_cyclists_injured',
                        'number_of_cyclist_killed':'number_of_cyclists_killed','number_of_motorist_injured':'number_of_motorists_injured',
                       'number_of_motorist_killed':'number_of_motorists_killed'})

In [10]:
# Check format of entries in columns
print(df['zip_code'].unique()[0:10])
print(df['number_of_persons_injured'].unique())
df['number_of_persons_killed'].unique()

[nan 11208.0 11233.0 10475.0 11207.0 10017.0 11413.0 11434.0 11217.0
 11226.0]
[ 2.  1.  0.  4.  3.  5.  7.  6.  9. 18.  8. 11. 17. 10. 14. 15. 12. 13.
 40. 16. 20. 22. 31. 19. 27. 32. 24. 43. 21. 23. 34. 25.]

array([0., 1., 2., 3., 4., 8., 5.])

In [11]:
dtype_dict = { # I also convert latitude and longitude to float32 here since it greatly improves efficiency- float32 can hold only 7 decimals, but this should be enough (accurate to ~10m)
    'Int64': ['zip_code'],
    'float64': ['accident_latitude', 'accident_longitude'],
    'str': ['borough','on_street_name','cross_street_name','off_street_name','contributing_factor_vehicle_1', 'contributing_factor_vehicle_2',
           'contributing_factor_vehicle_3','contributing_factor_vehicle_4','contributing_factor_vehicle_5','vehicle_type_code_1',
           'vehicle_type_code_2','vehicle_type_code_3','vehicle_type_code_4','vehicle_type_code_5'], 
    'int8': ['number_of_persons_injured', 'number_of_persons_killed', 'number_of_pedestrians_injured', 'number_of_pedestrians_killed', 
             'number_of_cyclists_injured', 'number_of_cyclists_killed', 'number_of_motorists_injured', 'number_of_motorists_killed'],
}

dtype_mapping = {}
for dtype, columns in dtype_dict.items():
    for col in columns:
        dtype_mapping[col] = dtype

for col in df.columns:
    if col not in dtype_mapping.keys():
        continue
    elif col == 'zip_code': # cant convert to int directly because it has string with empty entries
        df[col] = pd.to_numeric(df[col].str.strip(), errors='coerce').astype('float32')
        df[col] = df[col].round(0).astype('Int64');
    elif col in dtype_dict['str']: # for categorical data, replace nans with 'unknown' cat
        df[col].fillna('unknown', inplace=True)
        df[col] = df[col].astype(dtype_mapping[col])
        df[col]  = df[col].str.strip().str.lower() # clean string entries
        # df[col] = df[col].astype('category') # string to category, as it needs less memory
        # df[col] = df[col].cat.add_categories('unknown').fillna('unknown') # add unknown category for nans
    elif col in dtype_dict['int8']:
        df[col] = df[col].astype(dtype_mapping[col])
        df[col].round(0)
    else: 
        df[col] = df[col].astype(dtype_mapping[col])
        df[col].fillna(np.nan, inplace=True)
            
df['crash_datetime'] = pd.to_datetime(df['crash_date'] + ' ' + df['crash_time']) #
df.drop(['crash_date','crash_time'], axis=1, inplace=True)
df['year'] = df['crash_datetime'].dt.year.astype('int32') # add year column 
df['month'] = df['crash_datetime'].dt.month.astype('int8') # add month column 

dupl_before =df.shape[0]
df = df.drop_duplicates().sort_values(by='crash_datetime')# drop duplicates and sort to start rental time/date
print(f'{dupl_before - df.shape[0]} duplicates removed')
df = df.reset_index(drop=True)

print(' Unique values in zip_code: '); print(df.zip_code.unique())
df.head() # show cleaned data

0 duplicates removed
 Unique values in zip_code:
[   nan 10036. 11223. 11215. 10451. 11234. 11375. 11233. 10007. 10017.
 11220. 10022. 11416. 11434. 10456. 11217. 11226. 10014. 10470. 11208.
 11102. 10018. 11412. 11372. 10016. 10002. 11203. 10304. 10464. 10065.
 11691. 11214. 11207. 10303. 11209. 10012. 10305. 11206. 11101. 11379.
 11238. 10027. 11428. 11377. 10312. 10011. 10001. 10009. 11222. 11105.
 11201. 11385. 11103. 11368. 10466. 10019. 11230. 10033. 10468. 11225.
 10314. 10128. 11218. 11213. 10467. 11004. 11373. 11216. 11435. 11429.
 11421. 10310. 11411. 10475. 11219. 11370. 10462. 11354. 11369. 11001.
 10452. 11358. 11697. 11365. 10029. 11414. 10013. 11355. 11229. 11374.
 10032. 10003. 11357. 11235. 10309. 11694. 11211. 10004. 11224. 10461.
 10301. 10469. 11237. 10031. 10472. 11417. 10023. 10024. 11433. 10306.
 11232. 11236. 11364. 11104. 10035. 11419. 11436. 10021. 11422. 11106.
 11367. 11361. 10459. 11231. 11432. 11204. 11413. 10455. 10037. 11420.
 10026. 10454. 11362. 11228. 11221. 10005. 11249. 11212. 10020. 10010.
 10473. 10465. 11210. 10457. 10453. 11205. 10028. 10463. 11356. 11423.
 10039. 10474. 10075. 11427. 11378. 10025. 11692. 11418. 10302. 11366.
 10038. 10458. 10471. 11415. 10030. 10006. 10308. 11426. 10034. 10460.
 11239. 10307. 11360. 11363. 11693. 10040. 10119. 11040. 11109. 10000.
 10069. 10280. 11430. 11005. 10281. 11695. 10282. 11359. 10111. 10803.
 10153. 10048. 10168. 10162.]

,borough,zip_code,accident_latitude,accident_longitude,location,on_street_name,cross_street_name,off_street_name,number_of_persons_injured,number_of_persons_killed,...,contributing_factor_vehicle_5,collision_id,vehicle_type_code_1,vehicle_type_code_2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5,crash_datetime,year,month
0,unknown,NaN,40.6978,-73.8139,"(40.6977532, -73.8139159)",unknown,unknown,unknown,1,0,...,unknown,2999940.0000,passenger vehicle,passenger vehicle,unknown,unknown,unknown,2012-07-01 00:05:00,2012,7
1,manhattan,10036.0000,40.7621,-73.9974,"(40.7621266, -73.9973865)",11 avenue,west 44 street,unknown,0,0,...,unknown,37632.0000,passenger vehicle,bus,unknown,unknown,unknown,2012-07-01 00:05:00,2012,7
2,brooklyn,11223.0000,40.5889,-73.9727,"(40.5888678, -73.9727446)",west 3 street,bouck court,unknown,0,0,...,unknown,116256.0000,passenger vehicle,sport utility / station wagon,unknown,unknown,unknown,2012-07-01 00:10:00,2012,7
3,unknown,NaN,40.7336,-73.9238,"(40.73361, -73.9238405)",unknown,unknown,unknown,1,0,...,unknown,3044659.0000,passenger vehicle,passenger vehicle,passenger vehicle,passenger vehicle,unknown,2012-07-01 00:10:00,2012,7
4,brooklyn,11215.0000,40.6774,-73.9830,"(40.6774056, -73.9830482)",4 avenue,union street,unknown,0,0,...,unknown,175808.0000,unknown,bicycle,unknown,unknown,unknown,2012-07-01 00:20:00,2012,7

In [12]:
# Check if df still has missing values (nans) and how many
summary_table = pd.DataFrame({
    'Nan_count': df.isna().sum(),
    'Total': df.shape[0]
})

print(summary_table)

                               Nan_count    Total
borough                                0  2120518
zip_code                         1721072  2120518
accident_latitude                 247820  2120518
accident_longitude                247820  2120518
location                          247820  2120518
on_street_name                         0  2120518
cross_street_name                      0  2120518
off_street_name                        0  2120518
number_of_persons_injured              0  2120518
number_of_persons_killed               0  2120518
number_of_pedestrians_injured          0  2120518
number_of_pedestrians_killed           0  2120518
number_of_cyclists_injured             0  2120518
number_of_cyclists_injured             0  2120518
number_of_motorists_injured            0  2120518
number_of_motorists_killed             0  2120518
contributing_factor_vehicle_1          0  2120518
contributing_factor_vehicle_2          0  2120518
contributing_factor_vehicle_3          0  2120518
contributing_factor_vehicle_4          0  2120518
contributing_factor_vehicle_5          0  2120518
collision_id                           0  2120518
vehicle_type_code_1                    0  2120518
vehicle_type_code_2                    0  2120518
vehicle_type_code_3                    0  2120518
vehicle_type_code_4                    0  2120518
vehicle_type_code_5                    0  2120518
crash_datetime                         0  2120518
year                                   0  2120518
month                                  0  2120518

Missing data in string columns handled well -> all replaced with 'unknown', no nans left

In [13]:
df.describe()

,zip_code,accident_latitude,accident_longitude,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclists_injured,number_of_cyclists_injured,number_of_motorists_injured,number_of_motorists_killed,collision_id,year,month
count,399446.0000,1872698.0000,1872698.0000,2120518.0000,2120518.0000,2120518.0000,2120518.0000,2120518.0000,2120518.0000,2120518.0000,2120518.0000,2120518.0000,2120518.0000,2120518.0000
mean,10801.2070,40.6211,-73.7401,0.3161,0.0015,0.0573,0.0008,0.0276,0.0001,0.2272,0.0006,3193115.7500,2017.1821,6.6714
std,568.1274,2.1173,4.0326,0.7056,0.0412,0.2455,0.0280,0.1659,0.0109,0.6668,0.0275,1503171.0000,3.2036,3.3976
min,10000.0000,0.0000,-201.3600,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,22.0000,2012.0000,1.0000
25%,10065.0000,40.6677,-73.9748,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,3166249.2500,2015.0000,4.0000
50%,11204.0000,40.7206,-73.9272,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,3696517.5000,2017.0000,7.0000
75%,11235.0000,40.7696,-73.8667,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,4226881.7500,2019.0000,10.0000
max,11697.0000,43.3444,0.0000,43.0000,8.0000,27.0000,6.0000,4.0000,2.0000,43.0000,5.0000,4757303.0000,2024.0000,12.0000

Check how many collisions involved a bike; list all entries that contain 'bi', as probably the entries are inconsistent, 
and they could be 'bike','bicycle' or 'e-bike'

In [15]:
for col in ['vehicle_type_code_1','vehicle_type_code_2','vehicle_type_code_3','vehicle_type_code_4']:
    bike_entries = df[df[col].str.contains('bi', case=False, na=False)]
    print(col); print(bike_entries[col].unique())

vehicle_type_code_1
['bicycle' 'bike' 'motorbike' 'e bik' 'minibike' 'ebike' 'mobil' 'e- bi'
 'e-bik' 'snowmobile' 'cabin' 'bicyc' 'e-bike' 'dirt bike' 'e bike'
 'e bike uni' 'e bike w p' 'combinatio' 'liabitiy' 'pedal bike'
 'mobility s']
vehicle_type_code_2
['bicycle' 'bike' 'motorbike' 'minibike' 'e bik' 'ebike' 'e-bik'
 'snowmobile' 'mobil' 'big r' 'e/bik' 'e-bike' 'mobile foo' 'dirt bike'
 'mobile' 'dirtbike' 'uni e-bike' 'e bike' 'gas bicycl' 'ambiance'
 'dart bike' 'moped bike' 'gas bike' 'mobility s' 'citibike' 'e bike w p'
 'scooter bi']
vehicle_type_code_3
['bicycle' 'bike' 'motorbike' 'e-bik' 'e-bike' 'dirt bike']
vehicle_type_code_4
['bicycle' 'bike' 'e-bike' 'snowmobile' 'motorbike']

As we can see, a lot of different words are used to describe 'bike', with many spelling mistakes. To filter out all bikes, we can select all entries containing 'bik' or 'bic' but exclude 'motorbike'. I will now correct these entries and create an additional column with 'bike'/'no_bike', when any of these 4 columns contain a bike

In [17]:
# Create a mask that checks for 'bik' or 'bic' in any of the 4 columns, excluding 'motorbike'
df['bike_involved'] = 'no_bike'
# Create a mask that checks for 'bik' or 'bic' in any of the 4 columns, excluding 'motorbike'
mask = (
    df[['vehicle_type_code_1', 'vehicle_type_code_2', 'vehicle_type_code_3', 'vehicle_type_code_4']]
    .apply(lambda col: col.str.contains('bik|bic', case=False, na=False))
    .any(axis=1)  # Check if any column contains 'bik' or 'bic'
) & (
    ~df[['vehicle_type_code_1', 'vehicle_type_code_2', 'vehicle_type_code_3', 'vehicle_type_code_4']]
    .apply(lambda col: col.str.contains('motorbike', case=False, na=False))
    .any(axis=1)  # Exclude rows where 'motorbike' appears
)

# Set 'bike_involved' to 'bike' where the condition is met
df.loc[mask, 'bike_involved'] = 'bike'

print(df['bike_involved'].unique())
print(df.loc[df['bike_involved'] == 'no_bike',['bike_involved','vehicle_type_code_1', 'vehicle_type_code_2', 'vehicle_type_code_3', 'vehicle_type_code_4']].head(3))
print(df.loc[df['bike_involved'] == 'bike',['bike_involved','vehicle_type_code_1', 'vehicle_type_code_2', 'vehicle_type_code_3', 'vehicle_type_code_4']].head(3))

['no_bike' 'bike']
  bike_involved vehicle_type_code_1            vehicle_type_code_2  \
0       no_bike   passenger vehicle              passenger vehicle
1       no_bike   passenger vehicle                            bus
2       no_bike   passenger vehicle  sport utility / station wagon

  vehicle_type_code_3 vehicle_type_code_4
0             unknown             unknown
1             unknown             unknown
2             unknown             unknown
   bike_involved vehicle_type_code_1 vehicle_type_code_2 vehicle_type_code_3  \
4           bike             unknown             bicycle             unknown
42          bike                taxi             bicycle             unknown
98          bike   passenger vehicle             bicycle             unknown

   vehicle_type_code_4
4              unknown
42             unknown
98             unknown

In [18]:
df.to_csv(cleaned_dir + '/collisions_cleaned.csv') # save cleaned version